.container{
    width: 300px;
    height: 200px;
    background-color: aquamarine;
    box-shadow: 10px 10px;
    margin: 10px;
    padding: 10px;
}
.container1{
    width: 300px;
    height: 200px;
    background-color:red;
    box-shadow: 10px 10px 5px sandybrown;
    margin: 10px;
    padding: 10px;
}
.container2{
    width: 300px;
    height: 200px;
    background-color:red;
    box-shadow: 10px 10px 5px 10px seagreen;
    margin: 10px;
    padding: 10px;
}
.container3{
    width: 300px;
    height: 200px;
    background-color:red;
    box-shadow: 10px 10px 5px darkgoldenrod inset;
    margin: 10px;
    padding: 10px;
}
.container4{
    width: 300px;
    height: 200px;
    background-color:red;
    box-shadow: 10px 10px 5px sandybrown, 10px 20px 5px darkviolet, 10px 5px 10px green;
    margin: 10px;
    padding: 10px;
}